---
import Card from "../components/Card.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/avi7fgb.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
		<title>Astro</title>
	</head>
	<body>
		<h1>Oversigt over components</h1>

    
    <Card
     titel="Diamonds By Frisenholm. Brillantring af 9 kt. guld"

      deluxe={true}
      kubkassen={true}
      sidstechance={true}
      hammerslag={true}

      nyproduceret={true}
      nyproduceret="Nyproduceret vare"
      
      
      tidoverskrift="Auktionen udløber"
      tid="- d. 12. dec - kl. 20:00"
      
      kobnu={true}
      kobnupris="1.600 DKK"

      naestebud={true}
      naestebudpris="1.200 DKK"

      vurdering={true}
      vurderingpris="1.800 DKK"
      
      beskrivelse="Diamonds By Frisenholm. Brillantring af 9 kt. guld prydet med brillanter, ialt ca. 0.07 ct. Farve: Top Crystal (I). Klarhed SI. Ringstr. 56 Ø 17,8 mm. Vægt ca. 1,2 g."
      
    />
    <Card
    kubkassen={false}
      sidstechance={false}
      deluxe={false}
      titel="Diamonds By Frisenholm. Brillantring af 9 kt. guld"

tidoverskrift="Auktionen udløber"
tid="- d. 12. dec - kl. 20:00"

kobnu={false}
kobnupris="1.600 DKK"

naestebud="Næste bud"
naestebudpris="1.200 DKK"

vurdering="Vurdering"
vurderingpris="1.800 DKK"

      beskrivelse="Diamonds By Frisenholm. Brillantring af 9 kt. guld prydet med brillanter, ialt ca. 0.07 ct. Farve: Top Crystal (I). Klarhed SI. Ringstr. 56 Ø 17,8 mm. Vægt ca. 1,2 g."
      
    />

    

	</body>
</html>
