---
// import Button from "./Button.astro";
// Har man en component i en component, som en button i et card, så importerer man blot button til card

const { titel, beskrivelse, deluxe, tidoverskrift, tid, kobnu, kobnupris, naestebud, naestebudpris, vurdering, vurderingpris, kubkassen, sidstechance, hammerslag, nyproduceret, produktimg, showroom } = Astro.props;
import "../styles/global.css";
---


<!-- Hvis man skal "togle" mellem deluxe eller ikke deluxe og skal man give sine  cards flere værdier kan man skrive data-atribut -->
<article class:list={[{deluxe}, {kobnu}, {kubkassen}, {sidstechance}, {naestebud}, {vurdering}, {hammerslag}, {nyproduceret}, {produktimg}]}>
<!-- Billede til card -->
 <!-- <img src="/img/placeholder.jpg" alt="" /> -->

<div class="productcard">
   
          <div class="cardbillede">
                 <p >
                    {produktimg == true && (
                        <img src="/img/ringbillede.webp" alt="produktbillede" width="373" height="418">
                    )}
                </p>
          </div>
           <div class="showroom">
        <p>{showroom}</p>
        </div>
          
                 
              
     <div class="titel">          
          <!-- Titel på card -->
          <h3>{titel}</h3>
     </div>   
        
         <!-- Blåt banner -->
         
            
<div class="ikoner" id="ikongrid">
            
                <p>
                    {hammerslag == true && (
                        <img src="/img/hammer.svg" alt="køb nu" width="42" height="32">
                    )}
                </p>
                <p>
                    {deluxe == true && (
                        <img src="/img/diamant.svg" alt="deluxvare" width="35" height="29">
                    )}
                </p>
                <p>
                    {kubkassen == true && (
                        <img src="/img/pricetag.svg" alt="kubkassen" width="33" height="32">
                    )}
                </p>
                <p>
                    {sidstechance == true && (
                        <img src="/img/udråb.svg" alt="sidste chance" width="18" height="38">
                    )}
                </p>
</div>
    
    
    <div class="ny">
        <p>{nyproduceret}</p>
        </div>
    
    
        <div class="udloeb" id="udloebstid">
        <p>{tidoverskrift}</p>
       <p>{tid}</p> 
     </div>
    
    <div class="naestebud" id="naestebudpris">
        <p>
            {kobnu == true && (
                <strong>Køb nu: </strong>
                <span>{kobnupris}</span>
            )}
        </p>
        <p>
            {naestebud == true && (
            <strong>Næste bud: </strong>
            <span>{naestebudpris}</span>
            )}
        </p>
        
        <p>
            {vurdering == true && (
            <strong>Vurdering: </strong>
            <span>{vurderingpris}</span>
            )}
        </p>
        
     </div>
     <!-- Beskrivelse af vare -->
 <div class="beskriv"> <p>{beskrivelse}</p></div>
</div>


  <!-- Hvis man skal "togle" mellem deluxe eller ikke deluxe -->
  <!-- {deluxe == true && (

  )} -->
</article>
<style>



    .productcard{
        display: grid;
        grid-auto-columns: repeat(3, 1fr);
        grid-auto-rows: repeat(5, 1fr);
        gap: 1rem;
    
  
        
        
    }
    .cardbillede{
        display: grid;
         grid-column:;
         grid-row: 1/5;
             
         
    }

    .showroom{
        
         grid-row: 5/6;
         place-self: center;        
         color: var(--color-Oceanblue_sencondary-100);
         background: var(--navy-blue);
         object-fit: cover;
    }

    



    #ikongrid{
        display:flex;
        flex-direction: row;
        gap: 1rem;
        justify-self: end;
    
    }
    .ny{
        grid-column: 3/4;
        display: flex;
        justify-self: end;
        
    }
    .udloeb{
         grid-column: 2/4;
        
    }

    #udloebstid{
         display:flex;
        flex-direction: row;
        gap: 1rem;
    }
    
    .naestebud {
         grid-row:4/5;
         grid-column:2/4;
    }

    #naestebudpris{
         display:flex;
        flex-direction: row;
        gap: 2rem;
    }

    .beskriv{
 grid-row:5/6;
         grid-column:2/4;
}

    

    </style>