---
// import Button from "./Button.astro";
// Har man en component i en component, som en button i et card, så importerer man blot button til card

const { titel, beskrivelse, deluxe, tidOverskrift, tid, kobnu, kobnuPris, naestebud, naestebudPris, vurdering, vurderingPris} = Astro.props;
import "../styles/global.css";
---


<!-- Hvis man skal "togle" mellem deluxe eller ikke deluxe og skal man give sine  cards flere værdier kan man skrive data-atribut -->
<article class={deluxe == true && "deluxe"} >
<!-- Billede til card -->
 <img src="placeholder.jpg" alt="" />

  <!-- Titel på card -->
  <h3>{titel}</h3>

 <div>
    <p>{tidOverskrift}</p>
   <p>{tid}</p> 
 </div>
 <!-- Blåt banner -->
 <div>
    <div>
        <p>{kobnu}</p>
        <p>{kobnuPris}</p>
    </div>
    <div>
        <p>{naestebud}</p>
    <p>{naestebudPris}</p>
    </div>
    
    <div>
        <p>{vurdering}</p>
    <p>{vurderingPris}</p>
    </div>
    
 </div>

 <!-- Beskrivelse af vare -->
  <p>{beskrivelse}</p>

  <!-- Hvis man skal "togle" mellem deluxe eller ikke deluxe -->
  {deluxe == true && <p>deluxe</p>}
</article>